h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-main{
  width: 70%;
  height: 100%;
}

.row-main{
  height: 100%;
}

#btn-htp{
  margin-bottom: 20px;
  text-align: center;
}

canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

#backgroundCanvas, #backgroundPrCanvas{
  background-color: #333333;
}

.instruction{
  margin: 10px;
}
